@import url('https://fonts.googleapis.com/css2?family=Poiret+One&display=swap');

html {
	font-family: 'Poiret One', cursive;
	-ms-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}

body {
	background: black;
	font-family: 'Poiret One', cursive;
	color: rgb(180, 0, 0);
}

button {
	overflow: visible;
}

button,
select {
	text-transform: none;
}

button,
input,
select {
	color: rgb(180, 0, 0);
	font: inherit;
	margin: 0px;
}

input {
	line-height: normal;
}

#container {
	border: 1px solid rgb(68, 13, 13);
	box-shadow: 0 0 5px rgb(68, 13, 13);
	max-width: 968px;
	margin: 60px auto;
	position: relative;
}

placeholder {
	padding-left: 20px;
}

h1 {
	color: rgb(180, 0, 0);
	font-size: 32px;
	font-family: 'Poiret One', cursive;
	font-weight: 700;
	letter-spacing: 7px;
	text-align: center;
	text-transform: uppercase;
}

.tooltip {
	position: relative;
	display: inline-block;
}

.tooltip .tooltiptext {
	visibility: hidden;
	width: 220px;
	background-color: black;
	color: rgb(180, 0, 0);
	text-align: center;
	padding: 5px 0;
	position: absolute;
	z-index: 1;
	bottom: 125%;
	left: 50%;
	margin-left: -60px;
	opacity: 0;
	transition: opacity 0.3s;
}

.tooltip .tooltiptext::after {
	content: '';
	position: absolute;
	top: 100%;
	left: 50%;
	margin-left: -5px;
	border-width: 5px;
	border-style: solid;
	border-color: rgb(68, 13, 13);
}

.tooltip:hover .tooltiptext {
	visibility: visible;
	opacity: 1;
}

.underline {
	border-bottom: solid 1px rgb(68, 13, 13);
	margin: -0.512em auto;
	width: 80px;
}

input[type='text'],
[type='number'],
select {
	background: none;
	border: none;
	border-bottom: 1px solid rgb(68, 13, 13);
	color: rgb(180, 0, 0);
	font-size: 1em;
	font-weight: 400;
	letter-spacing: 1px;
	margin: 0em 0 1.875em 0;
	padding: 0 0 0.875em 1em;
	width: 100%;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	-o-box-sizing: border-box;
	box-sizing: border-box;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	-ms-transition: all 0.3s;
	-o-transition: all 0.3s;
	transition: all 0.3s;
}

input[type='text']:focus {
	outline: none;
	padding: 0 0 0.875em 0;
}

.control,
fieldset {
	margin: 6px 0;
}

label {
	display: inline-block;
	width: 130px;
	vertical-align: top;
	padding-left: 20px;
	font-weight: bold;
}

.required {
	color: rgb(180, 0, 0);
}

.message {
	float: none;
}

.name {
	float: left;
	width: 45%;
}

select {
	background: black;
	color: rgb(180, 0, 0);
	outline: none;
	-moz-appearance: none;
	-webkit-appearance: none;
}

select::-ms-expand {
	display: none;
}

.subject {
	width: 100%;
}

::-webkit-input-placeholder {
	color: rgb(180, 0, 0);
}

:-moz-placeholder {
	color: rgb(180, 0, 0);
	opacity: 1;
}

::-moz-placeholder {
	color: rgb(180, 0, 0);
	opacity: 1;
}

:-ms-input-placeholder {
	color: rgb(180, 0, 0);
}

.form_button {
	background: none;
	border: 1px solid rgb(68, 13, 13);
	box-shadow: 0 0 5px rgb(68, 13, 13);
	color: rgb(180, 0, 0);
	cursor: pointer;
	display: inline-block;
	font-family: 'Poiret One', cursive;
	font-size: 18px;
	font-weight: bold;
	outline: none;
	margin: 30px;
	padding: 15px 35px;
	text-transform: uppercase;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	-ms-transition: all 0.3s;
	-o-transition: all 0.3s;
	transition: all 0.3s;
}

#form_button:hover {
	background: black;
	color: rgb(180, 0, 0);
}

.form_button1 {
	background: none;
	border: 1px solid rgb(68, 13, 13);
	box-shadow: 0 0 5px rgb(68, 13, 13);
	color: rgb(180, 0, 0);
	cursor: pointer;
	display: inline-block;
	font-family: 'Poiret One', cursive;
	font-size: 18px;
	font-weight: bold;
	outline: none;
	margin: 30px;
	padding: 15px 25px;
	text-transform: uppercase;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	-ms-transition: all 0.3s;
	-o-transition: all 0.3s;
	transition: all 0.3s;
}

.form_button2 {
	background: none;
	border: 1px solid rgb(68, 13, 13);
	box-shadow: 0 0 5px rgb(68, 13, 13);
	color: rgb(180, 0, 0);
	cursor: pointer;
	display: inline-block;
	font-family: 'Poiret One', cursive;
	font-size: 18px;
	font-weight: bold;
	outline: none;
	margin: 40px;
	padding: 15px 35px;
	text-transform: uppercase;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	-ms-transition: all 0.3s;
	-o-transition: all 0.3s;
	transition: all 0.3s;
}

.form_button3 {
	background: none;
	border: 1px solid rgb(68, 13, 13);
	box-shadow: 0 0 5px rgb(68, 13, 13);
	color: rgb(180, 0, 0);
	cursor: pointer;
	display: inline-block;
	font-family: 'Poiret One', cursive;
	font-size: 18px;
	font-weight: bold;
	outline: none;
	margin: 30px;
	padding: 15px 20px;
	text-transform: uppercase;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	-ms-transition: all 0.3s;
	-o-transition: all 0.3s;
	transition: all 0.3s;
}
.form_button4 {
	background: none;
	border: 1px solid rgb(68, 13, 13);
	box-shadow: 0 0 5px rgb(68, 13, 13);
	color: rgb(180, 0, 0);
	cursor: pointer;
	display: inline-block;
	font-family: 'Poiret One', cursive;
	font-size: 18px;
	font-weight: bold;
	outline: none;
	margin: 30px;
	padding: 15px 20px;
	text-transform: uppercase;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	-ms-transition: all 0.3s;
	-o-transition: all 0.3s;
	transition: all 0.3s;
}

p {
	padding-left: 1em;
}

h2 {
	text-align: center;
}

.listing {
	list-style: none;
	margin: 2em;
	display: grid;
	gap: 20px;
	grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
}

.listing li {
	border: 1px solid rgb(68, 13, 13);
	box-shadow: 0 0 5px rgb(68, 13, 13);
	display: flex;
	flex-direction: column;
}
.listing .delete-checkbox {
	margin-top: auto;
	border-top: 1px solid rgb(68, 13, 13);
	box-shadow: 0 0 5px rgb(68, 13, 13);
	padding: 10px;
	text-align: center;
}
.listing .delete-checkbox input[type='checkbox'] {
	margin: 7px !important;
	border: 1px solid rgb(68, 13, 13) !important;
	box-shadow: 0 0 5px rgb(68, 13, 13) !important;
	color: black !important;
}

@media screen and (max-width: 768px) {
	#container {
		margin: 20px auto;
		width: 95%;
	}
}

@media screen and (max-width: 480px) {
	h1 {
		font-size: 26px;
	}

	.underline {
		width: 68px;
	}

	#form_button {
		padding: 15px 25px;
	}
}

@media screen and (max-width: 420px) {
	h1 {
		font-size: 18px;
	}

	.icon {
		height: 35px;
		width: 35px;
	}

	.underline {
		width: 53px;
	}

	input[type='text'],
	select,
	textarea {
		font-size: 0.875em;
	}
}
